{% trans_default_domain 'admin.contacts.region' %}

{#  Адрес  #}

{{ form_label(call.info.address, 'Адрес'|trans ) }}

<div class="input-group mb-3">
	<span class="input-group-text">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
	<path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
	<path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
</svg>
	</span>
	{# <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> #}
	{{ form_widget(call.info.address) }}
	{{ form_widget(call.info.geocode) }}
</div>


 {#  Контактный email #}

{{ form_label(call.info.email, 'Контактный email'|trans ) }}

<div class="input-group mb-3">
	<span class="input-group-text">@</span>
	{# <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> #}
	{{ form_widget(call.info.email, { label: 'Контактный email'|trans }) }}
</div>


{# График работы #}

{{ form_label(call.info.working, 'График работы'|trans ) }}

<div class="input-group">
	<span class="input-group-text">
		<svg xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-calendar2-week"
				viewBox="0 0 16 16">
			<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
			<path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
		</svg>
	</span>
	{# <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> #}
	{{ form_widget(call.info.working) }}
	
	
</div>

{{ form_help(call.info.working, { help: 'Пн-Пт: 9.00 - 18.00, Сб-Вс: выходной'  }) }}



{#{{ form_row(call.info.working, { label: 'График работы'|trans,  help: 'Пн-Пт: 9.00 - 18.00, Сб-Вс: выходной'  }) }}#}

